IndentWidth: 4
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 150
InsertBraces: false
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReferenceAlignment: Pointer
QualifierAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParens: Never


AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations:
  Enabled: true 
  AlignFunctionDeclarations: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakAfterAttributes: Always
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakFunctionDefinitionParameters: false
BreakStringLiterals: true
IncludeBlocks: Merge
IndentCaseLabels: true
IndentGotoLabels: false
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
RemoveEmptyLinesInUnwrappedLines: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpacesInContainerLiterals: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInSquareBrackets: false

